body{
    text-align: center;
    font-family: Helvetica;
}

.bgimage{
    background-image: url("../images/the-flatiron-building.png");
    color: white;
}

h1{
    font-size: 70px;
    font-weight: bold;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 18px;
    color: white;
}

h2{
    font-size: 32px;
    font-weight: bold;
}

h2.bgimage{
    font-size: 23px;
}

h3{
    font-size: 23px;
    font-weight: bold;
}

p{
    font-size: 14px;
}

footer p,footer a{
    background-color: dimgray;
    color: white;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
}
